$indigo: #2c934b;
$white: #000000;
$dark: #ffffff; //080e10
$green: #2c934b; //00dc93
$gradient: linear-gradient(203deg, rgb(218, 206, 170) 0%, rgb(255, 255, 255) 100%); //rgba(67, 39, 158, 1) 100%
$gradient2: #152B67;//linear-gradient(250deg, rgb(7, 88, 91) 24%, rgb(7, 53, 3) 100%);
$gradient3: linear-gradient(135deg, #f0f0f0, #e0e0e0);

.green {
  color: $green;
}
.indigo {
  color: $indigo;
}

